[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "public"]
	path = public
	url = https://github.com/sametaylak/sametaylak.github.io.git
	branch = master
[submodule "themes/cocoa-eh-hugo-theme"]
	path = themes/cocoa-eh-hugo-theme
	url = https://github.com/mtn/cocoa-eh-hugo-theme
